.deals-table {
  width: 100%;
}

/* HEADER ROW */
.table-head {
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr 1fr 1fr 1fr;

  background: #F1F4F9;
  padding: 14px 18px;

  border-radius: 10px;

  font-size: 14px;
  font-weight: 600;
  color: #464E5F;
}

.deals-card {
  margin: 0 35px 35px;
  padding: 24px;

  background: #fff;
  border-radius: 16px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
}

/* ---------- TABLE ROW ---------- */

.table-row {
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr 1fr 1fr 1fr;

  align-items: center;

  padding: 18px 12px;

  border-bottom: 1px solid #EEF0F4;
}

.product-cell {
  display: flex;
  align-items: center;
  gap: 14px;
}

.product-cell img {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  object-fit: cover;
}

.product-cell span {
  font-size: 16px;
  color: #202224;
}

.table-row div {
  font-size: 15px;
  color: #5B5B5B;
}

.status {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 88px;
  height: 32px;

  border-radius: 50px;

  font-size: 13px;
  font-weight: 600;
}

.delivered {
  background: #00B69B;
  color: white;
}

.table-head div:last-child {
  text-align: center;
}

.table-row div:last-child {
  display: flex;
  justify-content: center;
}