/* =========================
   LAYOUT
========================= */

.home {
  display: flex;
  min-height: 100vh;
  background: #f5f6fa;
}

.home-content {
  flex: 1;
  background: #f5f6fa;
}

/* =========================
   TOPBAR
========================= */

.topbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 35px;

  background: #fff;
  border-bottom: 1px solid #ececec;
}

/* Search */

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 18px;

  width: 18px;
  height: 18px;

  opacity: 0.6;
}

.search input {
  width: 390px;
  padding: 10px 18px 10px 48px;

  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;

  font-size: 14px;
}

/* Right Side */

.topbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon {
  cursor: pointer;
}

.icon img {
  width: 24px;
  height: 24px;
}

.language {
  color: #646464;
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
}

.language img {
  width: 34px;
  height: 34px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 42px;
  height: 42px;

  border-radius: 50%;
  object-fit: cover;
}

.profile h4 {
  margin: 0;
  font-size: 14px;
}

.profile p {
  margin: 0;
  color: #777;
  font-size: 12px;
}

/* =========================
   PAGE TITLE
========================= */

.home-content h1 {
  padding: 35px;
  
  font-weight: bold;
  font-size: 34px;
  color: #202224;
}

/* =========================
   STAT CARDS
========================= */

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  padding: 0 35px 35px;
}

.green {
  color: #00b69b;
}

.red {
  color: #f93c65;
}

/* =========================
   SALES CHART
========================= */

.dashboard-content {
  margin: 0 35px 35px;
}

.chart-section {
  padding: 25px;

  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 25px;
}

.chart-header h2 {
  margin: 0;

  font-weight: bold;
  font-size: 28px;
  color: #202224;
}

.chart-header select {
  color: #2B303466;
  padding: 8px 15px;

  border: 1px solid #ddd;
  border-radius: 8px;

  background: #fff;
  cursor: pointer;
}

.chart {
  height: 380px;
}

.dropdown-icon,
.more-icon {
  width: 12px;
  height: 12px;

  display: block;
  flex-shrink: 0;
}

.language,
.profile {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile .more-icon {
  width: 24px;
  height: 24px;
  opacity: 0.7;
  cursor: pointer;
}

.language {
  display: flex;
  align-items: center;
  gap: 6px;
}

.language .dropdown-icon {
  width: 10px;
  height: 10px;
  opacity: 0.7;
  cursor: pointer;
}