.custom-tooltip {
    background: #4379EE;
    color: #fff;
  
    padding: 10px 14px;
  
    border-radius: 8px;
  
    box-shadow: 0 8px 20px rgba(67,121,238,.25);
  
    min-width: 95px;
  }
  
  .tooltip-title {
    font-size: 13px;
    font-weight: 600;
  
    margin-bottom: 4px;
  }
  
  .tooltip-value {
    font-size: 12px;
    opacity: .95;
  }
  
  .tooltip-value strong {
    font-weight: 700;
  }